* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Mono", sans-serif;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #088cff;
  background-image: linear-gradient(to top, #088cff 0%, #b1c7ff 100%);
  background-size: 100%;
  -webkit-background-clip: text; /* clip background to text */
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; /* text is transparent */
  -moz-text-fill-color: transparent; /* for mozilla as well */
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  width: 100%; /* specifying height will fix the button size */
  border: none;
  outline: none;
  border-radius: 10px;
  background: #f77062;
  color: #fff;
}

.button:hover {
  background: #4837ff;
  transition: all 0.4s ease;
}

.navbar__links:hover {
  color: #088cff;
  transition: all 0.4s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* HERO SECTION CSS */
.main {
  background-color: #141414;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  padding: 0 50px;
}

.main__content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #088cff 0%, #b1c7ff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  align-items: center;
}

.main__content h2 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #088cff 0%, #b1c7ff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  align-items: center;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #088cff 0%, #b1c7ff 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s ease;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4837ff;
  transition: all 0.35s;
  border-radius: 10px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

#main__img {
  height: 80%;
  width: 80%;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* PREVIOUS QUESTIONS */

.previous__questions {
  background: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.previous__questions h1 {
  background-color: #088cff 0%;
  background-image: linear-gradient(
    to right,
    #7977ff 0%,
    #7c7aff 0%,
    #817fff 21%,
    #9085f9 52%,
    #5555cf 78%,
    #332ab1 100%
  );
  background-size: 100%;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.previous__questions__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.previous__questions__card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(17, 17, 17, 0.6) 100%
  ), url("/brian-design-tutorial/images/pic3.png");
  background-size: cover;
  position: relative;
  color: #fff
}

.previous__questions__card:nth-child(2) {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ), url("/brian-design-tutorial/images/pic4.png");
}

.previous__questions h2 {
    position: absolute;
    top: 350px;
    left: 30px
}

.previous__questions__card p {
    position: absolute;
    top: 400px;
    left: 30px
}

.previous__questions__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background:#088cff;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.previous__questions__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .previous__questions {
        height: 1600px;
    }

    .previous__questions h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .previous__questions {
        height: 1400px
    }

    .previous__questions h1 {
        font-size: 1.2rem;
    }

    .previous__questions__card {
        width: 300px;
    }
}

/* FOOTER */


.editor {
  display: inline-flex;
  gap: 10px;
  font-family: monospace;
  line-height: 21px;
  background: #FFF;
  border-radius: 2px;
  padding: 20px 10px;
}

textarea {
  line-height: 21px;
  overflow-y: hidden;
  padding: 0;
  border: 0;
  background: #FFF;
  color: #000000;
  min-width: 500px;
  outline: none;
  resize: none;
}

.line-numbers {
  width: 20px;
  text-align: right;
}

.line-numbers span {
  counter-increment: linenumber;
}

.line-numbers span::before {
  content: counter(linenumber);
  display: block;
  color: #506882;
}